
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

.Panquecas{
  background-color: aqua;  
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 align-content: flex-start;
 border-radius: 10%;
 margin: 50px;
 margin-top: 0;
}

.hidden{
  display: none;
}

.buttonFlex{
  display:flex;
  justify-content: space-between;
  
}

