
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
#body{
  background-color: rgba(147, 204, 15, 0.925);
  margin: 30px 30px;
  height: 100%
}

.options, .primeiroSet, .segundoSet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item{
  background-color: purple;
  border-radius: 10%;
  width: 140px;
  height: 120px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

img{
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  align-content: center;
 }

